@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 33% 96%;
    --foreground: 240 5% 10%;
    --card: 60 33% 96%;
    --card-foreground: 240 5% 10%;
    --popover: 60 33% 96%;
    --popover-foreground: 240 5% 10%;
    --primary: 45 90% 55%;
    --primary-foreground: 240 5% 10%;
    --secondary: 240 5% 86%;
    --secondary-foreground: 240 5% 10%;
    --muted: 240 5% 86%;
    --muted-foreground: 240 5% 45%;
    --accent: 240 5% 90%;
    --accent-foreground: 240 5% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 80%;
    --input: 240 5% 80%;
    --ring: 45 90% 55%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 240 5% 10%;
    --foreground: 60 33% 96%;
    --card: 240 5% 10%;
    --card-foreground: 60 33% 96%;
    --popover: 240 5% 10%;
    --popover-foreground: 60 33% 96%;
    --primary: 45 90% 55%;
    --primary-foreground: 240 5% 10%;
    --secondary: 240 5% 15%;
    --secondary-foreground: 60 33% 96%;
    --muted: 240 5% 15%;
    --muted-foreground: 240 5% 65%;
    --accent: 240 5% 20%;
    --accent-foreground: 60 33% 96%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 25%;
    --input: 240 5% 25%;
    --ring: 45 90% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
